.contact-me {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color:white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-title {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.contact-email {
    width: 60vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}