.footer {
    width: 100vw;
    height: 7vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.footer-copyright {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
