.github-btn {
    background-color: black;
    border: 2px solid white;
    color : white;
    width : 8vw;
    height: 4vh;
    text-align : center;
    margin-right: 10vw;
    border-radius: 4px;
}

.github-inner {
    background-color: white;
    color : black;
    width : 8vw;
    height: 4vh;
    text-align : center;
    margin-right: 10vw;
}


