.hover-btn {
    
    width: 30vw;
    height: 30vh;
    background-color: gray;
    color: white;
    text-align: center;
}

.hover-inner {
    background-color: black;
    width: 30vw;
    height: 30vh;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}